h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Ejercer derechos fundamentales del trabajo en el marco de la constitución política y los convenios internacionales.





