h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body
                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('text', 'Introducción', 'main.html#page/intro/')
                    +navTemaItem('1', 'La democracia', 'main.html#page/tema-1/')
                    +navTemaItem('2', 'Constitución política de Colombia', 'main.html#page/tema-2/')
                    +navTemaItem('3', 'El trabajo como derecho humano fundamental', 'main.html#page/tema-3/')
                    +navTemaItem('4', 'Mecanismos constitucionales de protección', 'main.html#page/tema-4/')
                    +navTemaItem('5', 'Mecanismos legales de protección de derechos laborales', 'main.html#page/tema-5/')
