.container

    .header-ecored
        h1 1.  Introducción

    .card
        .card-body.px-0.mt-5
            .row.justify-content-center.bg-agua-marina.mx-0
                .col-12.col-md-6.my-3.px-4.px-md-0.py-5.offset-md-1 
                    p #[strong Como hecho social, el trabajo contempla las relaciones ] entre el empleador (es decir, quien contrata a un trabajador) y el empleado (trabajador). Por eso, el derecho laboral tiende a proteger al involucrado más débil de esta estructura.
                .col.d-none.d-md-flex
                    img(src="assets/images/pages/intro/intro-1.svg").img-fluid.position-absolute.w-75.mt-3                        
            .container    
                .row.mt-5.pt-5
                    .col.text-right.pt-5.mt-5
                        img(src="assets/images/pages/intro/intro-2.svg").img-fluid
                    .col-8.align-self-center.mt-md-5.pt-md-5  
                        p.font-weight-bold.mr-3.texto-20 Este principio protector es uno de los más importantes que existen, sin embargo, es importante subrayar el valor del #[mark.mark principio de irrenunciabilidad de derechos.]
                .row.mt-5.mt-md-0
                    .col.text-right
                        img(src="assets/images/pages/intro/intro-3.svg").img-fluid
                    .col-8.align-self-center
                        .col-10.p-0
                            p.mr-3 Esta deja claro que ningún trabajador puede llevar a cabo la renuncia de los derechos que se le establecen como tal por parte de la legislación laboral. Eso supone, #[strong por ejemplo, que no pueda ni trabajar más horas de las que están establecidas ni que tampoco renuncie a cobrar menos de los que está estipulado..]
                .row.mt-3.mx-0
                    .col-3.p-0.offset-4.pl-3
                        img(src="assets/images/pages/intro/intro-4.svg").img-fluid  
