.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody
                tr
                    td Ministerio del Trabajo en Colombia. MinTrabajoCol (2014). Derechos Laborales. 
                    td Video
                    td 
                        a(href='https://www.youtube.com/watch?v=DnFCdJH9sKA',target="_blank") https://www.youtube.com/watch?v=DnFCdJH9sKA
                tr
                    td Ministerio del Trabajo en Colombia. MinTrabajoCol (2020). Equidad de género 
                    td Video
                    td 
                        a(href='https://www.youtube.com/watch?v=sQRsQlLnOCM',target="_blank") https://www.youtube.com/watch?v=sQRsQlLnOCM
                tr
                    td Ministerio del Trabajo en Colombia. MinTrabajoCol (2020). Mecanismo de protección al cesante.
                    td Video
                    td 
                        a(href='https://www.youtube.com/watch?v=8Pfl7Rpo7W8',target="_blank") https://www.youtube.com/watch?v=8Pfl7Rpo7W8