.container

    .header-ecored
        h1 6. Mecanismos legales de protección de derechos laborales.

    .card
        .card-body.px-0.mt-5
            .container 
                .row 
                    .col-10.col-md-11.bg-morado.pl-md-5.py-5.rounded
                        h1.text-white.font-weight-bold El estado Colombiano preserva la protección a los derechos de los trabajadores a través de los mecanismos legales de protección tales como:                
                .row.mt-4.ml-md-5
                    .col-12.col-md-5.p-4.offset-md-1 
                        p  La conciliación como alternativa de protección de derechos desde la resolución de conflictos #[strong (ley 23/91, ley 446/98, decreto 2511/98, decreto 1818/98, ley 640/01 y artículos 19-22 del Código Procesal del Trabajo y de la Seguridad Social —CPTy SS)], la demanda laboral y el arbitramento.
                        img(src="assets/images/pages/tema-5/tema-5-linea-naranja.svg").img-fluid.mt-5
                    .col-12.col-md-5 
                        img(src="assets/images/pages/tema-5/tema-5-1.svg").img-fluid.mt-4.pl-4

                .row.mt-5.ml-md-5.pl-md-5.mb-5
                    .col-12
                        p.font-weight-bold  Para profundizar esta temática hacer la lectura del siguiente anexo:
                    .col-11.mt-4.boton-morado.px-3.py-2 
                        a(href='https://www.ens.org.co/wp-content/uploads/2016/11/Escuela-de-Liderazgo-Sindical-Democr%C3%A1tico-Mecanismos-Const-y-Legales-para-la-def-de-los-derechos-fundamentales-de-los-trabajadores-2007.pdf')
                            .row.mx-0
                                .col.p-0
                                    img(src="assets/images/icons/pdf-button.svg").img-fluid
                                .col-11.pl-md-5.pr-0.align-self-center.text-left 
                                    p.text-white.font-weight-bold  Mecanismos constitucionales y legales para la defensa de los derechos fundamentales de las y los trabajadores de la Escuela de Liderazgo Sindical Democrático en su página 20. 
