.container

    .header-ecored
        h1 2. Derechos Humanos

    .card
        .card-body.px-0.mt-5
            .row.justify-content-center.bg-amarillo.mx-0
                .col-12.col-md-6.my-3.px-4.px-md-0.py-5.offset-md-1 
                    p.text-azul #[strong La Declaración Universal de los Derechos Humanos] es un documento que marca un hito en la historia, elaborada por representantes de todas las regiones del mundo con diferentes antecedentes jurídicos y culturales. Fue proclamada por la Asamblea General de las Naciones Unidas en París, el 10 de diciembre de 1948 como un ideal común para todos los pueblos y naciones.
                .col.d-none.d-md-flex.pt-3.justify-content-center
                    img(src="assets/images/pages/tema-6/tema-6-1.svg").img-fluid.position-absolute.w-75                        
            .container.mt-lg-5.pt-lg-5    
                .row.mt-5.pt-5.pt-md-5.offset-1
                    .col-12 
                        p.font-weight-bold  Para profundizar esta temática visualizar el siguiente video:
                    .col-11.col-md-10.col-lg-8.col-xl-7.mt-3.boton-morado.px-3.py-2 
                        a(href='https://www.youtube.com/watch?v=u6rTKLa1RJk')
                            .row.mx-0
                                .col-1.p-0
                                    img(src="assets/images/icons/play-button.svg")
                                .col-11.pl-5.pr-0.align-self-center
                                    p.text-white.font-weight-bold  Declaración Universal de Derechos Humanos
