.container

    .header-ecored
        h1 1. La democracia

    .card
        .card-body.px-0.mt-5
            .row.justify-content-center.bg-morado-claro.mx-0
                .col-12.col-md-6.my-3.px-4.px-md-0.py-5.offset-md-1 
                    p.text-white #[strong Término referido para designar a una de las formas de gobierno en que puede ejercerse el poder político del y para el pueblo,] siendo la democracia la forma de gobierno de las mayorías o los muchos, a diferencia de las monarquías o las aristocracias.
                .col.d-none.d-md-flex.pt-3.justify-content-center
                    img(src="assets/images/pages/tema-1/tema-1-1.svg").img-fluid.position-absolute.w-75                        
            .container.mt-lg-5.pt-lg-5    
                .row.mt-5.pt-5.pt-md-5.offset-1
                    .col-12 
                        p.font-weight-bold  Para profundizar esta temática visualizar el siguiente video:
                    .col-11.col-md-10.col-lg-8.col-xl-7.mt-3.boton-morado.px-3.py-2 
                        a(href='https://www.youtube.com/watch?v=OubcIwZ8jMg')
                            .row.mx-0
                                .col-1.p-0
                                    img(src="assets/images/icons/play-button.svg")
                                .col-11.pl-5.pr-0.align-self-center
                                    p.text-white.font-weight-bold  Historia del Congreso de la República de Colombia
