.container

    .header-ecored
        h1 3. El trabajo como derecho fundamental

    .card
        .card-body.px-0.mt-5
            .container 
                .row 
                    .col-8.col-md-7.bg-morado.pl-md-5.py-4.rounded
                        h1.text-white.font-weight-bold En primer lugar, se busca reconocer el trabajo como: 
                    .col-10.pl-md-5.mt-5 
                        p Derecho fundamental, en su relación con la satisfacción de las necesidades básicas humanas, el desarrollo de la persona y la consolidación de la democracia.
                    .col-12.col-md-6.offset-md-5 
                        img(src="assets/images/pages/tema-3/tema-3-1.svg").img-fluid.w-75.w-md-100.w-lg-75
                
                h2#tema-31.mt-5.mx-4.pl-md-5 3.1 Los derechos del trabajo y en el trabajo
                .row.mt-5 
                    .col-12.col-md-6.bg-morado.pl-md-5.pt-4.rounded
                        p.text-white.p-4.texto-20 #[strong La relación del derecho al trabajo] con la vida social, económica, política y cultural de las personas
                        img(src="assets/images/pages/tema-3/tema-linea-azul.svg").img-fluid.mt-4.pl-4
                        .col-12.text-right 
                            img(src="assets/images/pages/tema-3/tema-3-2.svg").img-fluid.mt-4.mb-0.w-md-50
                    .col-12.col-md-6.pl-md-5
                        img(src="assets/images/pages/tema-3/tema-linea-azul.svg").img-fluid.mt-4
                        p.mt-4 Constituye el núcleo de desarrollo de su autonomía y en razón de esto el trabajo puede ser definido como un derecho fundamental, integrante de los derechos de segunda generación denominados:
                        p.mt-5.texto-morado.texto-50.font-weight-bold (DESC)
                        .row.ml-1.mt-5
                            .col-auto
                                img(src="assets/images/pages/tema-3/vineta.svg").img-fluid
                            .col
                                p.texto-morado Derechos Económicos 
                        .row.ml-1.mt-3
                            .col-auto
                                img(src="assets/images/pages/tema-3/vineta.svg").img-fluid
                            .col
                                p.texto-morado Sociales 
                        .row.ml-1.mt-3
                            .col-auto
                                img(src="assets/images/pages/tema-3/vineta.svg").img-fluid
                            .col
                                p.texto-morado Culturales
                .row.mt-5.ml-5
                    .col-12
                        p.font-weight-bold  Para profundizar esta temática hacer la lectura del siguiente anexo:
                    .col-11.mt-4.boton-morado.px-3.py-2 
                        a(href='#')
                            .row.mx-0
                                .col.p-0
                                    img(src="assets/images/icons/pdf-button.svg")
                                .col-11.pl-md-5.pr-0.align-self-center.text-left 
                                    p.text-white.font-weight-bold  Manual del debido proceso en las relaciones laborales perteneciente a la Escuela Nacional Sindical.

                h2#tema-32.mt-5.mx-4.pl-md-5 3.2 Función social del trabajo
                .row.mt-5 
                    .col-12.col-md-6.bg-agua-marina.pl-md-5.pt-4.rounded
                        p.p-4.texto-20 El trabajo se puede catalogar como la relación transformadora entre las personas y el mundo, la naturaleza y el entorno, es decir, la cotidianidad de las personas está configurada en buena medida por el trabajo, o mejor, por las condiciones de protección o no en el que se realiza. 
                        img(src="assets/images/pages/tema-3/tema-linea-morada.svg").img-fluid.mt-4.pl-4
                        .col-12.text-right 
                            img(src="assets/images/pages/tema-3/tema-3-3.svg").img-fluid.mt-4.mb-0.w-md-50
                    .col-12.col-md-6.pl-md-5.mb-5
                        img(src="assets/images/pages/tema-3/tema-linea-morada.svg").img-fluid.mt-4
                        p.mt-4.pr-md-5.pl-4 Es importante destacar la interrelación que tienen las condiciones de y en el trabajo con los principios de justicia social y la paz mundial, las necesidades humanas y las posibilidades de autorrealización (Ramírez, 2015). #[strong Según lo que se ha expuesto, el trabajo protegido tiene relación directa con la dignidad humana, contribuye a crear las condiciones materiales para vivir bien, habilita medios y escenarios para la realización personal de acuerdo a un proyecto de vida deseable]  y por último aporta a la democracia y la igualdad en tanto el trabajo se realice en ambientes participativos, respetuosos de la diferencia donde las personas sean valoradas y tenidas en cuenta sin discriminación alguna.

                h2#tema-33.mt-5.mx-4.pl-md-5 3.3.	Derechos relacionados con el trabajo
                
                .row.pl-md-4 
                    .col-12.col-md-8 
                        h1.mt-5.ml-md-5 Los derechos relacionados directamente con el trabajo son:
                .row.ml-md-5
                    .col-12.col-md-8
                        .row.ml-1.mt-5
                            .col-auto
                                img(src="assets/images/pages/tema-3/vineta.svg").img-fluid
                            .col
                                p.pt-2 El derecho al trabajo
                        .row.ml-1.mt-2
                            .col-auto
                                img(src="assets/images/pages/tema-3/vineta.svg").img-fluid
                            .col
                                p.pt-2 La abolición de la esclavitud, servidumbre o cualquier forma de trata de personas, trabajo forzoso u obligatorio
                        .row.ml-1.mt-2
                            .col-auto
                                img(src="assets/images/pages/tema-3/vineta.svg").img-fluid
                            .col
                                p.pt-2 El ejercicio del trabajo en condiciones de libertad, legalidad y libre escogencia
                        .row.ml-1.mt-2
                            .col-auto
                                img(src="assets/images/pages/tema-3/vineta.svg").img-fluid
                            .col
                                p.pt-2 La posibilidad de acceso a servicios gratuitos de empleo, la formación para el trabajo y la protección contra el desempleo
                    .col.borde-tema-4-naranja   
                        img(src="assets/images/pages/tema-3/tema-3-4.svg").img-fluid.mt-4

                .row.pl-md-4 
                    .col-12.col-md-8 
                        h1.mt-5.ml-5 De éstos, se derivan otros como condiciones justas y equitativas en el trabajo en términos de:
                .row.ml-md-5
                    .col-12.col-md-8
                        .row.ml-1.mt-5
                            .col-auto
                                img(src="assets/images/pages/tema-3/vineta.svg").img-fluid
                            .col
                                p.pt-2 La jornada
                        .row.ml-1.mt-2
                            .col-auto
                                img(src="assets/images/pages/tema-3/vineta.svg").img-fluid
                            .col
                                p.pt-2 La remuneración, las vacaciones y tiempos de descanso
                        .row.ml-1.mt-2
                            .col-auto
                                img(src="assets/images/pages/tema-3/vineta.svg").img-fluid
                            .col
                                p.pt-2 La protección en trabajos insalubres o peligrosos
                        .row.ml-1.mt-2
                            .col-auto
                                img(src="assets/images/pages/tema-3/vineta.svg").img-fluid
                            .col
                                p.pt-2 La salud ocupacional, la vinculación a la seguridad social, la protección especial a mujeres y jóvenes
                        .row.ml-1.mt-2
                            .col-auto
                                img(src="assets/images/pages/tema-3/vineta.svg").img-fluid
                            .col
                                p.pt-2 El derecho de pensión, la licencia de maternidad, la estabilidad en el empleo                   
                        .row.ml-1.mt-2
                            .col-auto
                                img(src="assets/images/pages/tema-3/vineta.svg").img-fluid
                            .col
                                p.pt-2 La irrenunciabilidad a los derechos básicos y la primacía de la realidad sobre las formalidades
                        .row.ml-1.mt-2
                            .col-auto
                                img(src="assets/images/pages/tema-3/vineta.svg").img-fluid
                            .col
                                p.pt-2 Así como el derecho de asociación y sindicalización
                    
                    .col.borde-tema-4-naranja   
                        img(src="assets/images/pages/tema-3/tema-3-5.svg").img-fluid.mt-4

                .row 
                    .col-10.col-md-9.mark.mt-5.px-md-5.py-4.rounded
                        h1.font-weight-bold.px-4 En consecuencia se crea la Organización Internacional del Trabajo (OIT)
                .row.pl-md-5
                    .col-12.mt-5.px-5 
                        p Fundada en 1919, es la única superviviente del Tratado de Versalles que estableció la Sociedad de Naciones, y se convirtió en el primer organismo especializado de la ONU en 1946. 
                        p.mt-5.font-weight-bold Para profundizar esta temática visualizar el siguiente video sobre la Organización Internacional del Trabajo (OIT) como único organismo tripartito de la ONU que reúne a representantes de gobiernos, empleadores y trabajadores de 187 Estados Miembros para elaborar normas, formular políticas y establecer programas que promuevan el trabajo decente para todos.

                    .col-7.col-md-6.col-lg-4.ml-5.mt-5.px-3.py-2.boton-morado 
                        a(href='https://www.youtube.com/watch?v=VzXwkDHtRXc')
                            .row.mx-0
                                .col-1.p-0
                                    img(src="assets/images/icons/play-button.svg")
                                .col-11.pl-5.pr-0.align-self-center
                                    p.text-white Ver Video / #[strong La labor de la OIT]  

                h2#tema-34.mt-5.mx-4.pl-md-5 3.4.	Concepto de trabajo
                .row.mt-5.pl-md-5 
                    .col-10.col-lg-4.mb-5.ml-md-4.text-right
                        img(src="assets/images/pages/tema-3/tema-linea-morada.svg").img-fluid.mt-4
                        p.mt-4.texto-morado-tema.texto-25.font-weight-bold El trabajo, además de ser actividad creativa y transformadora, es la posibilidad que tiene cada ser humano para su autorrealización y el fortalecimiento de las relaciones sociales,
                        p.mt-2 así mismo su desempeño como ser social se cristaliza tanto en el trabajo productivo como en el reproductivo. Por tal motivo, el trabajo tiene distintas dimensiones: social, económica, cultural, sexual y espacio/temporal.
                    .col-12.col-lg-7
                        .row.ml-md-5 
                            img(src="assets/images/pages/tema-3/tema-3-6.svg").img-fluid.mt-4.mb-0.w-md-50

                .row.mt-5.ml-md-5.pl-md-5
                    .col-12
                        p.font-weight-bold  Para profundizar esta temática hacer la lectura del siguiente anexo:
                    .col-11.col-lg-8.col-xl-7.mt-4.boton-morado.px-3.py-2 
                        a(href='#')
                            .row.mx-0
                                .col.p-0
                                    img(src="assets/images/icons/pdf-button.svg").img-fluid
                                .col-11.pl-md-5.pr-0.align-self-center.text-left 
                                    p.text-white.font-weight-bold  Conocer los derechos fundamentales en el trabajo OIT

                h2#tema-34.mt-5.mx-4.pl-md-5 3.5.	La negociación colectiva
                .row.mt-4.ml-md-3
                    .col-9.ml-3.pl-md-5 
                        p #[strong La negociación colectiva se concibe en los instrumentos de la OIT (1976) ] como la actividad o proceso encaminado a la conclusión de un contrato o acuerdo colectivo. El contrato colectivo se define en la Recomendación #[strong núm. 91 como :]

                .row.mt-md-5.ml-md-5.pl-md-5.justify-content-center
                    .col-8
                        img(src="assets/images/pages/tema-3/tema-3-7.svg").img-fluid.position-absolute.imagen-z-index
                    .col-12.col-md-10 
                        .col-12.col-md-10.bg-morado-claro.rounded.mt-5.pt-5
                            p.m-md-5.p-5.text-white.texto-20.font-italic.font-weight-bold todo acuerdo escrito relativo a las condiciones de trabajo y de empleo, celebrado entre un empleador, un grupo de empleadores o una o varias organizaciones de empleadores, por una parte, y, por otra, una o varias organizaciones representativas de trabajadores o, en ausencia de tales organizaciones, representantes de los trabajadores interesados, debidamente elegidos y autorizados por estos últimos, de acuerdo con la legislación nacional (pág.95)
                            .col-12
                                img(src="assets/images/pages/tema-3/tema-3-8.svg").img-fluid
                .row.mt-5.ml-md-5.pl-md-5
                    .col-12
                        p.font-weight-bold  Para profundizar esta temática hacer la lectura del siguiente anexo:
                    .col-11.col-lg-8.col-xl-7.mt-4.boton-morado.px-3.py-2 
                        a(href='#')
                            .row.mx-0
                                .col.p-0
                                    img(src="assets/images/icons/pdf-button.svg").img-fluid
                                .col-11.pl-md-5.pr-0.align-self-center.text-left 
                                    p.text-white  #[strong La negociación colectiva] (normas de la OIT y principios de los órganos de control) de la página 9 a la 12. 

                h2#tema-34.mt-5.mx-4.pl-md-5 3.6.	Organizaciones sindicales
                h1.mt-5.mx-4.pl-md-5 La Constitución de 1991, en su artículo 39
                .row.mt-5.ml-md-5.pl-md-5 
                    .col-12.col-md-4.text-center 
                        img(src="assets/images/pages/tema-3/tema-3-9.svg").img-fluid.mb-5
                    .col-11.col-md-7.ml-md-4 
                        p Establece el derecho de asociación sindical, de acuerdo con el cual #[strong se garantiza a los trabajadores y a los empleadores el derecho de constituir organizaciones sindicales sin intervención del Estado, reflejando los principios y garantías  establecidos en los Convenios 87 y 98 de la OIT]. La Carta Fundamental ha determinado, de igual manera, que los sindicatos pueden establecer libremente las reglas de su estructura interna y funcionamiento; y se les ha reconocido la personería jurídica de manera inmediata.
                .row.mt-5.ml-md-5.pl-md-5 
                    .col-11.col-md-7.ml-md-4 
                        p Al desarrollar este precepto constitucional, la Corte, ha establecido que la función que cumplen las organizaciones sindicales, de #[strong defender los intereses de la clase obrera, constituye una de los fundamentos del Estado Social de Derecho], pues los sindicatos se constituyen en el único intermediario idóneo entre los trabajadores individualmente considerados y los empleadores.
                    .col-12.col-md-4.text-center 
                        img(src="assets/images/pages/tema-3/tema-3-10.svg").img-fluid.mb-5
                .row.mt-5.ml-md-5.pl-md-5
                    .col-12
                        p.font-weight-bold  Para profundizar esta temática hacer la lectura del Informe Final Actualización Censo Sindical- 2017 realizado por el Ministerio Del Trabajo en la Subdirección de Promoción de la Organización Social.
                    .col-11.col-lg-8.col-xl-7.mt-4.boton-morado.px-3.py-2 
                        a(href='#')
                            .row.mx-0
                                .col.p-0
                                    img(src="assets/images/icons/pdf-button.svg").img-fluid
                                .col-11.pl-md-5.pr-0.align-self-center.text-left 
                                    p.text-white.font-weight-bold Informe Final Actualización Censo Sindical- 2017  
                    